# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Electron build files
/dist/
/out/
/front-electron/*.asar

# Environment variables
.env

# Python dependencies
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs and system files
logs/
*.log
debug.log
.DS_Store
Thumbs.db

# Compiled binaries
*.exe
*.dll
*.so
*.dylib
*.bin

# IDE and editor settings
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

WorkStatus.txt
